# Local .terraform directories
**/.terraform/*

# .tfstate files (CRITICAL: These contain cleartext passwords)
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*

# Exclude sensitive variables file
terraform.tfvars
*.auto.tfvars

# Exclude text inventories or temp files
*.txt

# Ignore the backup folder (Do not push old junk code)
backup_old/

# Ignore Override files
override.tf
override.tf.json
_override.tf
_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc
